/***** RESET ********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;  /* pra tirar os "Pontinhos" padrao que a lista tem. "bullet points"  */
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/***** VARIABLES ********************************/

:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 100;
  /* HSL color mode */
  --base-color: rgb(172, 8, 237);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: rgb(16, 27, 173);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: rgb(255, 255, 255);
  --text-color-light: hsl(0 0% 98%);
  --body-color: rgb(0, 0, 0);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/************** BASE **************************/

html {
  scroll-behavior: smooth;  /* Rolagem suave da pagina  */
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

section {
  display: grid;
  gap: 2rem;
  text-align: center;
}

section #input input {
  margin-right: 4rem;
}

img {
  max-width: 8rem;
}

input {
  height: 2rem;
  border-radius: 0.25rem;
}

button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 2rem;
  display: inline-flex;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;     /* quando bota o mouse em cima  */
}

button:hover {  /* Para quando o mouse passar em cima  */
  background: var(--base-color-alt);
}